<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/4-common.css">
    <link rel="stylesheet" type="text/css" href="styles/3-common.css">
    <link rel="stylesheet" type="text/css" href="styles/3-header.css">
    <link rel="stylesheet" type="text/css" href="styles/3-footer.css">
    <link rel="stylesheet" type="text/css" href="styles/4-filters.css">
    <link rel="icon" href="../../Map/logo.png"/>
    <title>Flight Movie</title>
</head>

<body>
    <header>
        <img class="logo" src="../../Map/gin.jpg" alt="logo">
        <nav>
            <div class="bx bx-menu" id="menu-icon"></div>
            <ul class="menu">
                <li><a href="#">Home</a></li>
                <li><a href="#">Movies</a></li>
                <li><a href="#">TV Shows</a></li>
                <li><a href="#">About</a></li>
                
            </ul>
        </nav>
    </header>
        
        <div class="search-container">
            <div class="input-container">
                <input type="search" class="filters" id="search" placeholder="Search movies...">
                <button>Search</button>
            </div>
            </div>
        </nav>
        <section id="main">
            <h1 class="showcase">Show Movies</h1>
            <p class="sub-heading">The best movies from around the world</p>
            <ul id="autoWidth" class="cs-hidden">
                <li class="item-a">
            <div class="showcase-box">
                <img src="../../Map/Bean_movie_poster.jpg" alt="Mr Bean"">
            </div>
                </li>
            <li class="item-a">
                <div class="showcase-box">
                    <img src="../../../Map/need for speed.jpg" alt="need for speed">
                </div>
                    </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <img src="../../Map/the_expendables_poster.webp" alt="the expendables">
                    </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <img src="../../Map/VENOM.jpg" alt="VENOM">
                    </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <img src="../../Map/Operation fortune.jpg" alt="Operation fortune"">
                    </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <img src="../../Map/wakandaforever.jpeg" alt="wakanda forever"">
                    </div>
                        </li>
                </ul>

    
        </section>
        <section id="Latest">
            <h2 class="Latest Heading">Latest Movies</h2>
            <ul id="autoWidth" class="cs-hidden">
                <li class="item-a">
                    <div class="Latest-box">
                        <div class="Latest-box-img">
                            <img src="../../Map/The-Beekeeper.png" alt="The-Beekeeper">
                        </div>
                        <div class="Latest-box-text">
                            <strong>The Beekeeper</strong>
                            <p>Action Movies</p>
                        </div>
                    </div>
                </li>
            <li class="item-a">
                <div class="showcase-box">
                    <div class="Latest-box-img">
                        <img src="../../Map/INSIDE OUT 2.jpeg" alt="INSIDE OUT 2">
                    </div>
                    <div class="Latest-box-text">
                        <strong>INSIDE OUT 2</strong>
                        <p>Action Movies, Comedy</p>
                    </div>
                </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <div class="Latest-box-img">
                            <img src="../../Map/MISSION INMPORSIBLE.jpg" alt="MISSION INMPORSIBLE">
                    </div>
                    <div class="Latest-box-text">
                        <strong>MISSION INMPORSIBLE</strong>
                        <p>Action Movies</p>
                    </div>
                </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <div class="Latest-box-img">
                            <img src="../../Map/PLANET APES.jpg" alt="PLANET APES"">
                    </div>
                    <div class="Latest-box-text">
                        <strong>PLANET APES</strong>
                        <p>Action Movies</p>
                    </div>
                </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <div class="Latest-box-img">
                            <img src="../../Map/THE FIGHTER.jpg" alt="THE FIGHTER">
                    </div>
                    <div class="Latest-box-text">
                        <strong>THE FIGHTER</strong>
                        <p>Action Movies</p>
                    </div>
                </div>
                </li>
                <li class="item-b">
                    <div class="showcase-box">
                        <div class="Latest-box-img">
                            <img src="../../Map/The FALL GUY.png" alt="The FALL GUY"">
                    </div>
                    <div class="Latest-box-text">
                        <strong>The FALL GUY</strong>
                        <p>Action Movies</p>
                    </div>
                </div>
                </li>
                        
            
            </ul>
                  
        </section>
        <section
            <div class="btns">
                <a href="#">Previous</a>
                <a href="#">Next</a>
            </div>
        </section>
        <footer>
            <p>Copyright &copy; 2022</p>
        </footer>
</body>

</html>
