/*
 * Header Style
 */
header {
    background-color: #173d77;
   /* height: 70px;*/
    /* width: 200%; */
    
    border-bottom: 1px solid yellow;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 80px;
}
