<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" href="../../Map/logo.png"/>
    <link href="styles/style.css" rel="stylesheet" type="text/css" />
    <title>FLight Movie</title>
</head>

<body>
    <div id="root">
        <header>
            <img class="logo" src="../../Map/gin.jpg" alt="logo">
            <nav>
                <div class="bx bx-menu" id="menu-icon"></div>
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Movies</a></li>
                    <li><a href="#">TV Shows</a></li>
                    <li><a href="#">About</a></li>
    
                </ul>
            </nav>
        </header>
        <section id="Latest">
            <h2 class="Latest Heading">Latest Movies</h2>
            <ul id="autoWidth2" class="cs-hidden">
                <li class="item-a">
                    <div class="Latest-box">
                        <div class="Latest-box-img">
                            <img src="../../Map/The-Beekeeper.png" alt="The-Beekeeper">
                        </div>
                        <div class="Latest-box-text">
                            <strong>The Beekeeper</strong>
                            <p>Action Movies</p>
                            <p>Dune: Part One (2024)</p>

                            <!-- Creating of a container class that 
                                store other useful classes -->
                            <div class="container">

                                <!-- Creating a ui-widgets classes that 
                                    store other useful classes like 
                                    ui-values and ui-labels -->
                                <div class="ui-widgets">
                                    <div class="ui-values">8.5</div>
                                    <!-- <div class="ui-labels">Java</div> -->
                                </div>

                                </div>
                                <!-- Add heading of the page -->
                                <h1>Overview</h1>
                            <p>One man’s campaign for vengeance takes on national stakes after he is revealed to be a former operative of a powerful and clandestine organization known as Beekeepers</p>
                            </div>
                            
                        </div>
                            
                    
                </li>
            </ul>
        </section>
        <div class="hero-section">
            <div class="hero-slide">
                <div class="carousel-nav-center" id="hero-carousel">
                    <div class="hero-slide-item">
                        <img srs="../../Map/free movie.jpg" alt="">
                        <div class="overlay"></div>
                            
                        
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Copyright &copy; 2024</p>
        </footer>
    </div>

    
</body>

</html>
